* {
  font-family: 'Work Sans', sans-serif;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  width: 70%;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

header .logo img {
  height: 30px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  height: 15px;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 12;
  padding: 20px;
}

.menu-icon span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform-origin: center;
  transition: all 0.3s ease 0s;
}

.menu-icon.opened span {
  background-color: #fff;
}

.menu-icon.closed span:nth-of-type(2) {
  width: 10px;
}

.menu-icon.closed:hover span:nth-of-type(2) {
  width: 20px;
}

.menu-icon.opened span:nth-of-type(2) {
  display: none;
}

.menu-icon.opened span:first-of-type {
  transform: translateY(6.5px) rotateZ(45deg);
}

.menu-icon.opened span:last-of-type {
  transform: translateY(-6.5px) rotateZ(-45deg);
}

nav {
  display: flex;
  align-items: center;
  position: relative;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

header .menu {
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px 30px 10px;
  background-color: #2c4755;
}

.menu-section span.menu-section-title {
  color: #637988;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nav-menu {
  margin: 5px 0 20px;
}

ul.nav-menu.main a {
  font-size: 1.2rem;
}

header .menu ul a {
  color: #fff;
}

header .menu ul a.active,
header .menu ul a:hover {
  color: #10cab7;
}

header .menu-footer {
  font-size: 0.5rem;
  color: #637988;
  margin-top: 50px;
}

.landing .cover.light {
  background-image: url(./assets/landingL.jpg);
}

.landing .cover.dark {
  background-image: url(./assets/landingD.jpg);
}

.cover {
  background-size: cover;
}

.landing .overlay {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.overlay.light {
  background-color: #eee7;
  color: #000;
}

.overlay.dark {
  background-color: #2c475577;
  color: #fff;
}

h1 {
  margin: 120px 0 0;
  font-weight: 900;
  font-size: 4em;
  color: #10cab7;
}

p {
  line-height: 2;
  color: #575757;
}

.landing .separator {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-content {
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing .box img {
  height: 50px;
}

.landing .box span.box-title {
  margin-top: 40px;
  color: #2c4755;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 1.1rem;
}

section:not(.landing) {
  padding: 20px 100px 50px;
}

.special-heading {
  margin-bottom: 100px;
  text-align: center;
}

.special-heading h2 {
  font-size: 7rem;
  color: #ebeced;
}

.special-heading p {
  margin-top: -150px;
  font-size: 1.5rem;
}

.services .main-content {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 80px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.service-card {
  height: 200px;
  display: flex;
  align-items: start;
  gap: 20px;
}

.service-card .icon {
  width: 100px;
  height: 100px;
}

span.service-title {
  display: block;
  color: #2c4755;
  font-weight: 900;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.design {
  width: 300px;
  background-image: url(./assets/design1L.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.design:before {
  content: "";
  width: calc(20% + 100px);
  height: calc(100% + 100px);
  position: absolute;
  right: -50px;
  top: -50px;
  background-color: #2c4755;
  z-index: -12;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-card .info {
  padding: 0 20px 0;
}

span.project-title {
  display: block;
  color: #2c4755;
  font-weight: 900;
  font-size: 1.3rem;
  margin: 30px 0 20px;
}

img {
  width: 100%;
}

